.alert {
    --primary-color: rgb(194, 194, 244);
    --success-color: rgb(201, 247, 201);
    --warn-color: rgb(243, 243, 181);
    --danger-color: rgb(247, 200, 200);
    --default-color: rgb(199, 196, 196);
    min-width: 30px;
    min-height: 30px;
    padding: 10px;
    display: grid;
    grid-template-areas:
      'title close'
      'description description';
    grid-template-columns: 1fr 30px;
  }
  .alert-success {
    background-color: var(--success-color);
  }
  .alert-danger {
    background-color: var(--danger-color);
  }
  .alert-warning {
    background-color: var(--warn-color);
  }
  .alert-primary {
    background-color: var(--primary-color);
  }
  .alert-default {
    background-color: var(--default-color);
  }
  .alert-title {
    grid-area: title;
    margin-bottom: 0;
    line-height: 22px;
    font-size: 22px;
    font-weight: 400;
  }
  .alert-description{
    grid-area: description;
    color: black;
  }
  .alert-close{
    grid-area: close;
    background-color: transparent;
    border: none;
  }
  