#root {
  --primary-color: rgb(194, 194, 244);
  --success-color: rgb(201, 247, 201);
  --warn-color: rgb(243, 243, 181);
  --danger-color: rgb(247, 200, 200);
  --default-color: rgb(199, 196, 196);
}
* {
  // reset
  margin: 0;
  padding: 0;
}
@import './mixin';

@import './menu.scss';
@import './alert.scss';
@import './Icon.scss';
