$bg: #e6f4ff;
$color: #1677ff;
.menu {
  width: 300px;
  list-style-type: none;
  border-radius: 8px;
}

.submenu {
  list-style-type: none;
  padding-bottom: 2px;
  padding-inline-start: 20px;
}

.menu-item {
  list-style-type: none;
  height: 40px;
  line-height: 40px;
  list-style-position: inside;
  padding: 0 20px;
  border-radius: 8px;
}
.menu-title-content {
  display: block;
  min-width: 0;
  @include truncation;
}
.submenu-title {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  padding-left: 20px;
  margin: 4px 0;
  @include truncation;
}
.menu-item-selected {
  background-color: $bg;
  color: $color;
}
.menu-item:not(.menu-item-selected):hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.submenu-arrow {
  inset-inline-end: 16px;
}
